<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
<!--
    <form method = "POST">
        <input name = "title" type = "text" placeholder="제목"><br>
        <input name = "author" type = "text" placeholder="글쓴이"><br>
        <textarea name = "content" rows = "5" placeholder="내용"></textarea><br>
        {% csrf_token %}
        <input type="submit" value = "추가하기">
    </form>
-->
<div style = "max-width:980px; margin:auto; margin-top: 100px">
    <h4 class = "mb-3">글쓰기</h4>
    <form method = "POST" class = "needs-validation">
        <div class = "row">
            <div class = "col-sm-6 mb-3">
                <label for="title" >제목</label>
                <input class = "form-control" name = "title" type = "text">
            </div>
            <div class = "col-sm-6  mb-3">
                <label for="author">글쓴이</label>
                <input class = "form-control" name = "author" type = "text">
            </div>
            <div class = "col-sm-12 mb-3">
                <label for="content">내용</label>
                <textarea class = "form-control"  name = "content" rows = "5"></textarea>
            </div>
            {% csrf_token %}
            <div class = "col-sm-12 mb-3">
                <input class = "btn btn-primary btn-lg btn-block" type="submit" value = "추가하기">
            </div>
        </div>
    </form>
</div>

</body>
</html>